extends ../templates/template
include ../mixins/link
include ../mixins/list

prepend header
append header
    h2 Subtitle
    h3 Mi nombre es Domingo

block main
    +link('/enlace', 'enlace')
    ul
        +list(names)